#project1 {
    position: relative;
    background-color: #CDC1FF;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#project1 img {
    max-width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

#project1:hover img {
    transform: scale(1.1);
}

#project1:hover {
    box-shadow: 0 8px 30px #CDC1FF;
}

#project1 .description {
    padding: 5px;
    font-size: 24px;
    color: #FFEB55;
}

#project1 .details {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(243, 233, 250, 0.8);
    color: #000000;
    padding: 20px;
    transition: top 0.3s ease;
    font-size: 36px;
}

#project1:hover .details {
    top: 0;
}