

#projects {
    display: grid;
    margin-top: 30px;
    font-weight: bold;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 40px;
    text-align: center;
}

@media (max-width: 768px) {
    #projects {
        grid-template-columns: 1fr;
    }

    .project-item {
        margin-bottom: 30px;
    }
}